<div class="row center-row-vert">
	<div class="col-sm-7 col-xs-12">
		<div class="video">

			<a href="https://youtu.be/3NrxZE_yFag?width=640&height=480"><br>
				{% include youtube-play.html %}
				<img title="Balance Guide video" height="168" width="300" src="/static/img-300/bgyoutube.png">
				<br>
			</a>
		</div>
	</div>
	<div class="col-sm-5 col-xs-12">
		<div class="video-note">
			<p>
				Here's a demo of the an older version of the app. We hope to update this soon.
			</p>
		</div>
	</div>
</div>