
.bg .intro-panel
{
    background: #67a4ee;
}

.ratings
{
    background-color: #dee8f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    padding: 15px 20px 15px 20px;
}

.stars
{
    font-weight: bold;
    font-size: 1.4em;
    margin: 11px 0px 5px 0px;
    color: #dee8f5;
    text-align: center;
}

.bg .fb-like-pos
{
    display: inline-block;
    width: 286px;
    text-align: center;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
{
    .bg .intro-left
    {
        margin: 15px !important;
    }

    .bg .center-row-vert
    {
        display: inline-block !important;
    }

    .bg .intro-device
    {
        float: none;
        margin: 0 auto;
        display: block;
        width: 200px;
    }

    .bg .intro-app-btn
    {
        float: none;
        margin: 20px auto 0px;
        display: block;
        width: 200px;
    }

    .bg .video-note 
    {
        color: #000 !important;
    }

    .bg .fb-like-pos
    {
        padding-top: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
{
    .bg .intro-left
    {
        margin: 15px !important;
    }

    .bg .center-row-vert
    {
        display: inline-block !important;
    }

    .bg .intro-device
    {
        float: none;
        margin: 0 auto;
        display: block;
        width: 200px;
    }

    .bg .intro-app-btn
    {
        float: none;
        margin: 20px auto 0px;
        display: block;
        width: 200px;
    }

    .bg .video-note 
    {
        color: #000 !important;
    }

    .bg .fb-like-pos
    {
        padding-top: 20px;
    }
}

/* iPhone 6,7,8 + X */
@media only screen and (max-device-width : 375px) 
{
    .bg .intro-left
    {
        margin: 15px !important;
    }

    .bg .center-row-vert
    {
        display: inline-block !important;
    }

    .bg .intro-device
    {
        float: none;
        margin: 0 auto;
        display: block;
        width: 200px;
    }

    .bg .intro-app-btn
    {
        float: none;
        margin: 20px auto 0px;
        display: block;
        width: 200px;
    }

    .bg .video-note 
    {
        color: #000 !important;
    }

    .bg .fb-like-pos
    {
        padding-top: 20px;
    }
}