#support-options {
    background-image: linear-gradient(to bottom right, #f5f5f5 , #fff);
    padding: 2px 20px 20px 20px;
}

#support-options li 
{
    list-style-type: none;
}

h3#support-options-heading 
{
    border-bottom: 3px solid #ddd;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 7px;
}

.app-options 
{
    background-color: #f9f9f9;
    padding: 15px 25px 15px 15px;
}

.app-options li 
{
	list-style-type: square;
	text-align: justify;
}