
/*
   Comments
   ========================================================================== */

.post__comments {
  order: 3;
}

#disqus_thread iframe {
  margin-top: 2em;
}

.post__comments-form {
  padding: 1em;
  background: #efefef;
  border: 1px solid #000;
  transition: all 0.2s ease-in-out;
}

.post__comments-form.disabled input, 
.post__comments-form.disabled button, 
.post__comments-form.disabled textarea, 
.post__comments-form.disabled label {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: 0.65;
}

.post__comments-form .js-notice {
  font-size: 0.8rem;
}

.comment {
  display: flex;
  margin: 1em 0;
  flex: 4;
  align-items: flex-start;
  /* cleaner underlines */
}

.comment:not(:last-child) {
  border-bottom: 2px solid #e2e2e2;
}
.comment p > a {
  border-bottom: 1px solid #000;
}

.comment p > a:hover {
  color: #000;
  border-bottom-color: #000;
}

.comment__avatar-wrapper {
  margin-right: 1em;
  flex-shrink: 0;
}

.comment__avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);
}

.comment__author {
  margin: 0;
}
.comment__author a {
  text-decoration: none;
}

.comment__date {
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #ddd;
}
.comment__date a {
  text-decoration: none;
}


