
/*
   Comments
   ========================================================================== */

.post__comments 
{
  order: 3;
}

.post__comments-form 
{
  padding: 1em;
  background: #efefef;
  border: 1px solid #000;
  transition: all 0.2s ease-in-out;
}

.post__comments-form.disabled input, 
.post__comments-form.disabled button, 
.post__comments-form.disabled textarea, 
.post__comments-form.disabled label 
{
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: 0.65;
}

.post__comments-form 
.js-notice 
{
  font-size: 0.8rem;
}

.comment 
{
  display: flex;
  margin: 1em 0;
  flex: 4;
  align-items: flex-start;
  /* cleaner underlines */
}

.comment:not(:last-child) 
{
/*  border-bottom: 2px solid #e2e2e2;*/
}
.comment p > a 
{
  border-bottom: 1px solid #000;
}

.comment p > a:hover 
{
  color: #000;
  border-bottom-color: #000;
}

.comment.child 
{
    margin-left: 80px;
}

.comment__avatar-wrapper 
{
  margin-right: 1em;
  flex-shrink: 0;
}

.comment__avatar 
{
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.comment__content-wrapper 
{
  float: right;
  width: calc(100% - 60px);
}

.comment__author 
{
  margin: 0;
}

.comment__author a 
{
  text-decoration: none;
}

.comment__date 
{
  margin: 0;
  font-size: 15px;
  color: #ddd;
  display: inline-block;;
}

.comment__date a 
{
  text-decoration: none;
}

.comment__meta 
{
  border-bottom: 2px solid #aaa;
  padding: 10px 0px;
  margin-bottom: 10px;
}

[type=reset],
[type=submit],
button,
html [type=button]
{
    -webkit-appearance:button;
    cursor:pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner
{
    padding:0;
    border-style:none
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring
{
    outline:1px dotted ButtonText
}

.btn,
[type=reset],
[type=submit]
{
    background-color:#111;
    border-radius:4px;
    border:0;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-weight:700;
    line-height:1.5;
    padding:.5em 1em;
    text-align:center;
    text-decoration:none
}

.btn:hover,
[type=reset]:hover,
[type=submit]:hover
{
    background-color:#3382a1;
    color:#fff;
    text-decoration:none
}

.btn:visited,
[type=reset]:visited,
[type=submit]:visited
{
    color:#fff
}

.btn:active,
[type=reset]:active,
[type=submit]:active
{
    -webkit-transform:scale(.95);
    transform:scale(.95)
}
