---
layout: bg
---

<article class="post">

  <div class="post-content">
    {{ content }}
    <br/>
      <div class="projects row">

        {% for x in site.data.bg_screenshots %}

        <div class="project-item col-md-4 col-sm-6 col-xs-12">

          <div class="well project-outer">
            <div class="project-inner">

              <a href="{{ site.baseurl }}/static/bg_screenshots/{{ x.image }}" class="thickbox">
                <img src="/static/img-300/{{ x.image }}" height="211" width="300"/>
              </a>

              <div style="margin-top: 20px;">
                {{ x.text }}
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </article>
