---
layout: default
---
<div class="post-content well">

    {% if page.subtitle %}
    <h4 class="home-subtitle">{{ page.subtitle }}</h4>
    {% endif %}

    <article class="content">
        <div class="post">{{ content }}</div>
        <hr />
        {% include share-page.html %}
    </article>
    <hr />


{% include comments-new.html %}
{% include comments.html %}

{% assign hasSimilar = '' %}
{% for post in site.posts  %}
    {% assign postHasSimilar = false %}
    {% for tag in post.categories %}
        {% for thisTag in page.categories %}
            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
                <div class="panel-body">
                <h4>Related Posts</h4>
                <ul>
                {% endif %}
                <li class="relatedPost">
                    <a href="{{ site.url }}{{ post.url }}">{{ post.subtitle }}</a>
                    {% if post.categories %}
                        <small>(Categories: {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %})</small>
                    {% endif %}
                </li>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign postHasSimilar = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
    </ul>
    </div>
{% endif %}

<div class="container-table">
  <div class="row">
      {% if page.previous.url %}
        <a class="col-xs-6" href="{{ site.baseurl }}{{ page.previous.url }}">
            <span class="slide-wrap">&lt; {{ page.previous.subtitle }}</span>
        </a>
      {% endif %}
      {% if page.next.url %}
        <a {% if page.previous.url %} class="col-xs-6" {% else %} class="col-xs-12" {% endif %} style="text-align: right;" href="{{ site.baseurl }}{{ page.next.url }}">
            <span class="slide-wrap">{{page.next.subtitle }} &gt;</span>
        </a>
      {% endif %}
    </div>
</div>

</div>