---
layout: default
---
<div class="well">
    <div style="text-align: right; margin-bottom: 10px;">
        <a href="{{ 'stt'  | relative_url }}">App Home</a>
            &nbsp; | &nbsp; 
        <a href="{{ 'stt/screenshots' | relative_url }}">Screen shots</a>
            &nbsp; | &nbsp; 
        <a href="{{ 'stt/knowledgebase' | relative_url }}">Knowledge Base</a>
            &nbsp; | &nbsp; 
        <a href="{{ 'stt/privacy' | relative_url }}">Privacy</a>
    </div>
    {% if page.subtitle %}
    <h4 class="home-subtitle">{{ page.subtitle }}</h4>
    {% endif %}
	{{ content }}
</div>
