---
layout: stt
---

<article class="post">

  <div class="post-content">
    {{ content }}
    <br/>
      <div class="projects row">

        {% for x in site.data.stt_screenshots %}

        <div class="project-item col-md-6 col-sm-6 col-xs-12">

          <div class="well project-outer">
            <div class="project-inner">

              <a href="{{ site.baseurl }}/static/stt_screenshots/{{ x.image }}" class="thickbox">
                <div class="project-img bordered" style="background-image: url('/static/img-400/{{ x.image }}');"></div>
              </a>

              <div style="margin-top: 20px;">
                <p>
                  {{ x.text }}
                </p>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </article>
